@tailwind base;
@tailwind components;
@tailwind utilities;


.home-background-img {
  background: url("/background-home-desktop.jpg") no-repeat right;
  background-size: auto 100%;
}

.nav-links-bg {
  @apply bg-[rgb(255,255,255,0.1)] backdrop-blur-[40px];
}
@layer components {
  .hr-style:after {
    content: "";
    width: 100%;
    opacity: 0.25;
    background-color: white;
    height: 1px;
    position: relative;
    z-index: 10;
    order: 1;
    margin-right: -2.5rem;
  }

  .explore-button {
    @apply flex h-[274px] w-[274px] rounded-full bg-white p-12 justify-center items-center text-mdHeading;
  }
.ripple{
  position: relative;
  opacity: 1;
}


  .ripple:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform: scale(0);
    z-index: -1;
    background-color: white;
    opacity: 0.1;
    transition: transform linear 0.3s;
  }

  .ripple:hover:after {
    transform: scale(1.6);

  }
}


amp-selector[on^="select"] [option][selected]:focus {
  cursor: pointer;
  outline: 4px solid rgba(117, 170, 255, 0.5);
}


:root {
--color-primary: #005af0;
--space-1: 0.5rem; /* 8px */
--space-4: 2rem; /* 32px */
}

/* Styles for the flex layout based tabs */

/* Styles for the selector based tabs */

.tabs-with-selector {
display: flex;
}

.tabpanels [role="tabpanel"] {
display: none;
}
.tabpanels [role="tabpanel"][selected] {
display: grid;
}

[option] {
cursor: pointer;
}

[option][selected] {
cursor: auto;
}

[multiple] [option][selected] {
cursor: pointer;
}

amp-selector[role="tablist"].tabs-with-selector {
display: grid;
}



amp-selector.tabpanels [role="tabpanel"][aria-selected="false"] {
display: none;
/* custom styling, feel free to change */
}
amp-selector.tabpanels [role="tabpanel"][selected] {
display: grid;
}


amp-selector [option][selected] {
outline: none;
}