@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  font-family: "Bellefair", serif;
}



.home-background-img{
  background: url("/background-home-desktop.jpg") no-repeat right;
  background-size: auto 100%;
}